:root {
  --darkblue: #0d1321;
  --prussianblue: #1d2d44;
  --darkelectricblue: #3e5c76;
  --shadowblue: #748cab;
  --grey: #f0ebd8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--shadowblue);
  height: 10vh;
}

.header a {
  color: var(--grey);
  margin-left: 1rem;
}

.header h1 {
  color: var(--darkblue);
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 600;
  margin-right: 40%;
}

.grids {
  display: flex;
}

.grids-default-display {
  border-right: 2px solid var(--darkblue);
}

.grid-result-display {
  border-left: 2px solid var(--darkblue);
}

.grids .grid-default-display,
.grids .grid-result-display {
  width: 50%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.grids .grid-default-display h2,
.grids .grid-result-display h2 {
  color: var(--darkblue);
  margin-bottom: 0;
}

.grids .grid-result-display h3 {
  color: var(--darkblue);
}

table {
  margin-top: 4rem;
  border-collapse: collapse;
}

td {
  border: 2px solid #000000;
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.param-error {
  text-align: center;
  color: #1d2d44;
}

/* GRID CHOICES */

.header-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--shadowblue);
  height: 10vh;
}

.header-choice h1 {
  color: var(--darkblue);
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 600;
}

.grid-choice-title {
  text-align: center;
  font-weight: 600;
}

.grid-choice-subtitle:first-child {
  margin-top: 0; 
}

.grid-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.grid-form .grid-choices-container {
  display: flex;
}

#grid-error-1,
#grid-error-2 {
  background-color: rgb(255, 152, 152);
}

.grid-form .grid-choices-container .grid-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 2rem;
  padding: 2rem;
  border: 1px solid var(--darkblue);
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
}

.grid-form .grid-choices-container .grid-choice input[name="grid"] {
  margin-top: 2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.grid-form .grid-choices-submit {
  margin-top: 4rem;
}

.grid-form .grid-choices-submit button {
  cursor: pointer;
  background-color: var(--shadowblue);
  border: 1px solid var(--darkblue);
  border-radius: 0.5rem;
  width: 150px;
  height: 75px;
  color: var(--darkblue);
  opacity: 0.9;
  font-size: 1.5em;
}

.grid-form .grid-choices-submit button:hover {
  opacity: 1;
}